.whole-dashboard-container {

    display: inline-flex;

}

/* left-container */

.left-container {

    width: 206px;
    height: 818px;
    flex-shrink: 0;
    background: #FFF;
}

.logo-dashboard {

    width: 177px;
    height: 77px;
    flex-shrink: 0;
    margin-left: 14px;
    margin-top: 94px;
}

.signout-image-container {

    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logout-text-stye {

    width: 59px;
    height: 22px;
    flex-shrink: 0;
    color: var(--TOOLBAR-COLOUR, #303344);

    /* H3 */
    font-family: Baloo Bhai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -10px
}

.activity-name {
    color: var(--TOOLBAR-COLOUR, #303344);

    /* H3 */
    position: relative;
    font-family: Baloo Bhai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 37px;
    top: 8px;
}

.logout-style {

    margin-left: 46px;
    margin-top: 596px;
    display: inline-flex;
    gap: 12px;
}
.logout-style:hover{
    background-color: bisque;
}

.middle-container {
    width: 699px;
    height: 818px;
    flex-shrink: 0;
    background: #F8F8FB;
}

.middle-header {
    border-radius: 14px;
    background: #E5D7FF;
    width: 612px;
    height: 134px;
    flex-shrink: 0;
    margin-left: 62px;
    margin-top: 56px;
    display: inline-flex;
}

.middle-logo {
    width: 106.449px;
    height: 106.449px;
    flex-shrink: 0;
    margin-top: 14px;
    margin-left: 50px;
}

.hello-container {
    width: 239.816px;
    height: 69.743px;
    flex-shrink: 0;
    color: var(--TOOLBAR-COLOUR, #303344);

    /* H1 */
    font-family: Baloo Bhai;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 73.77px;
    margin-top: 26px;
}

.hello-container-subline {
    position: relative;
    margin-left: 72.55px;
    top: -53.36px;
    color: var(--TOOLBAR-COLOUR, #303344);

    /* B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}


.activities-header {
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    margin-top: 35px;
}

.awareness-container {
    display: inline-flex;
    width: 620px;
    height: 63.512px;
    flex-shrink: 0;
    fill: #FFF;
    margin-top: 39px;
    margin-left: 40px;
}

.all-others-container {
    display: inline-flex;
    width: 620px;
    height: 63.512px;
    flex-shrink: 0;
    fill: #FFF;
    margin-top: 15.59pxpx;
    margin-left: 40px;
}

.all-image-icons-style {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 10.49px;
    margin-left: 10px;

}

.calender-image-icons {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 101px;
    margin-top: 19px;

}

.calender-image-icons1 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 93px;
    margin-top: 19px;
}

.calender-image-icons2 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 49px;
    margin-top: 19px;
}

.calender-image-icons3 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 99px;
    margin-top: 19px;
}


.calender-image-icons4 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 40px;
    margin-top: 19px;
}

.calender-image-icons5 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 55px;
    margin-top: 19px;
}

.date-style {
    color: var(--TOOLBAR-COLOUR, #303344);

    /* CAPTION */
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 22.51px;
}

.button-to-activity-style {
    width: 116px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 8px;
    background: linear-gradient(0deg, #6C00A0 0%, #6C00A0 100%), #303344;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 18.51px;
    margin-left: 109px;
}

.right-container {
    width: 535px;
    height: 818px;
    flex-shrink: 0;
}

.right-top-container {
    width: 436.745px;
    height: 152px;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--Grey, #F5F5F7);
    margin-top: 60px;
    margin-left: 44px;
}

.right-top-title {
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 17px;
    margin-top: 10px;
}

.top-right-icons {
    margin-left: 17px;
    position: relative;
    top: -6px
}

.date-text {

    position: relative;
    /* Adjust this value based on how much you want to push it up */
    top: -12px
}

.mentor-container-header {

    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
    margin-left: 44px;
}



.mentor-not-available {
    color: var(--TOOLBAR-COLOUR, #303344);

    /* B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.mentor-container {
    width: 437px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Grey, #F5F5F7);
    margin-top: 9px;
    margin-left: 44px;
    display: inline-flex;
}

.initial-outer-container {
    width: 37.802px;
    height: 33.947px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 4.21px;
    margin-left: 4.33px;
}

.initials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(79, 117, 117);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    height: 5vh
}

.mentor-name-component {
    color: var(--TOOLBAR-COLOUR, #303344);

    /* B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-left: 30px;
}

.mentor-not-available {
    margin-top: 5px;
}

.group-heading-container {
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 42px;
    margin-top: 33px;
}


.mentees-container {
    width: 437px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Grey, #F5F5F7);
    margin-top: 12px;
    margin-left: 44px;
    display: inline-flex;
}

.mentees-initials-container {
    width: 37.802px;
    height: 33.947px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 4.21px;
    margin-left: 4.33px;
    height: 5vh
}

.mentees-names-style {
    color: var(--TOOLBAR-COLOUR, #303344);

    /* B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-left: 30px;
    margin-top: 9px;
}


.affirmation-container {
    width: 448px;
    height: 130.26px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-top: 37px;
    margin-left: 31px;
}

.affirmation-header{
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16.44px;
    margin-top: 9.74px;
}

.quote-style{
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */

}

.analytics-style{

    display: inline-flex;
    margin-top: 16px;
    margin-left: 57px;

}

.analytics-heading-text{
    color: var(--TOOLBAR-COLOUR, #303344);

    /* BUTTON */
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 6px;
}

.image-analytics-mentor{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.analytics-style:hover{
    background-color: antiquewhite;
}