.container1 {
    display: flex;
    align-items: start;
    background-color: white;
}

.image-container1 {
    width: 535px; 
    height: 900px;
    flex-shrink: 0;
    position: relative; /* This is important for positioning the image inside it */

}


.image-container1 img {
    width: 384px;
    height: 167px;
    position: absolute; 
    left: 81px;
    top: 284px;
}
.login-container{
    width: 905px;
    height: 818px;
    flex-shrink: 0;
    background: #F8F8FB;
}


.SignInText1 {

    color: #000;
    font-family: Familjen Grotesk;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 204px;
    margin-left: 416px;
}

.UserNameText1 {
    color: #B1B1B1;
    font-family: Familjen Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 35px;
    margin-left: 297px;
    /* 200% */
}

.userNameForm1 {
    background-image: url('../icons/Profile.svg');
    background-repeat: no-repeat;
    background-position: 15px;

    display: flex;
    width: 311px;
    height: 44px;
    padding: 10px 24px 10px 18px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    margin-top: 8px;
    margin-left: 297px;
    padding-left: 40px;
}

.password-label1 {
    color: #B1B1B1;
    font-family: Familjen Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 35px;
    margin-left: 297px;
    /* 200% */
}

.password-form1 {
    background-image: url('../icons/lock.svg');
    background-repeat: no-repeat;
    background-position: 15px;
    display: flex;
    width: 311px;
    height: 44px;
    padding: 10px 24px 10px 18px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    margin-top: 8px;
    margin-left: 297px;
    padding-left: 40px;
    
}

.login-button1 {
    border-radius: 8px;
    background: #6C00A0;
    display: flex;
    width: 311px;
    padding: 10px 24px 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #FFF;
    font-family: Familjen Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 297px;
    /* 150% */
}

.link-register1{
    color: #434343;
    font-family: Familjen Grotesk;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 13px;
    margin-left: 331px;
    cursor:pointer;
}
.error-message112 {
    color: #F00;
    font-family: Familjen Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 240% */
    position: relative;
    top:35px;
    margin-left: 10px;
}