.container {
  display: flex;
  align-items: start;
  /* align at the top */
}

.form-constainer {
  width: 905px;
  height: 818px;
  flex-shrink: 0;
}

.image-container {
  width: 535px;
  height: 900px;
  flex-shrink: 0;
  position: relative; /* This is important for positioning the image inside it */
}

.image-container img {
  width: 384px;
  height: 167px;
  position: absolute;
  left: 87px;
  top: 329px;
}

.register-header {
  color: #000;
  font-family: Familjen Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 365px;
  margin-top: 165px;
}

.radio-group-signup {
  margin-left: 353px;
}

.radio-group-signup label {
  margin-right: 20px;
  display: inline-block;
  /* 200% */
}

.radio-group-signup input[type="radio"] {
  margin-right: 5px;
  color: #6c00a0;
}

.name-label {
  color: #b1b1b1;
  font-family: Familjen Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  margin-left: 298px;
  margin-top: 8px;
}

.name-form {
  display: flex;
  width: 311px;
  height: 44px;
  padding: 10px 24px 10px 18px;
  align-items: center;
  gap: 12px;
  margin-left: 298px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
}

.surname-label {
  color: #b1b1b1;
  font-family: Familjen Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  margin-left: 298px;
  margin-top: 8px;
}

.surname-form {
  display: flex;
  width: 311px;
  height: 44px;
  padding: 10px 24px 10px 18px;
  align-items: center;
  gap: 12px;
  margin-left: 298px;
  margin-right: 298px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
}

.password-label {
  color: #b1b1b1;
  font-family: Familjen Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  margin-left: 298px;
}

.password-form {
  display: flex;
  width: 311px;
  height: 44px;
  padding: 10px 24px 10px 18px;
  align-items: center;
  gap: 12px;
  margin-left: 298px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
}

.email-label {
  color: #b1b1b1;
  font-family: Familjen Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  margin-left: 298px;
}

.email-form {
  display: flex;
  width: 311px;
  height: 44px;
  padding: 10px 24px 10px 18px;
  align-items: center;
  gap: 12px;
  margin-left: 298px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
}

.group-label {
  color: #b1b1b1;
  font-family: Familjen Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  margin-left: 298px;
}

.group-form {
  display: flex;
  width: 311px;
  height: 44px;
  padding: 10px 24px 10px 18px;
  align-items: center;
  gap: 12px;
  margin-left: 298px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
}

.access-label {
  color: #b1b1b1;
  font-family: Familjen Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  margin-left: 298px;
}

.access-form {
  display: flex;
  width: 311px;
  height: 44px;
  padding: 10px 24px 10px 18px;
  align-items: center;
  gap: 12px;
  margin-left: 298px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
}

.register-button {
  display: flex;
  width: 311px;
  padding: 10px 24px 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #6c00a0;
  color: #fff;
  font-family: Familjen Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 298px;
  margin-top: 27px;
  /* 150% */
}
.link-register {
  color: #434343;
  font-family: Familjen Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 23px;
  margin-left: 343px;
}

.error-message {
  color: red;
  margin-left: 343px;
}
