.Analytics-middle-container{
    width: 1440px;
    height: 900px;
    background: #EDF0F2;
}

.hello-container1{

    color: var(--TOOLBAR-COLOUR, #303344);
    /* H1 */
    font-family: Baloo Bhai;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 120px;
    position: relative;
    top: 10px;
}

.hello-container-subline1{
    color: var(--TOOLBAR-COLOUR, #303344);

    /* B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 120px;
    position: relative;
    top:-30px
}

