.outer-container-bargraph {

    width: 547px;
    height: 372px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-top: 21px;
    margin-left: 51px;
    position: relative;
}

.pie-chart-container {
    width: 560px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-left: 63px;
    position: relative;
    top:-66px
}
.mentee-text-style{
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-row{
    display: inline-flex;
}

.bottom-left-span{
    width: 560px;
    height: 372px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-left: 51px;
    margin-top: 21px;
    
}

.panel-mover{
 margin-left: 35px;
 margin-top:20px;
}

.scatter-plot-heading-style{
    color: #000;
    font-family: Familjen Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 120px;
    margin-top:17px
}