.outer-container-bargraph {

    width: 547px;
    height: 372px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-left: 41px;
    position: relative;
    top: -21px;
}

.pie-chart-container {
    width: 530px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-left: 48px;
    position: relative;
    top: -66px
}

.mentee-text-style {
    color: var(--TOOLBAR-COLOUR, #303344);
    font-family: Baloo Bhai;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-row {
    display: inline-flex;
}

.bottom-left-span {
    width: 530px;
    height: 372px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F8F8FB;
    margin-left: 48px;
    position: relative;
    top: -21px;

}

.panel-mover {
    margin-left: 35px;
    margin-top: 20px;
}

.scatter-plot-heading-style {
    color: #000;
    font-family: Familjen Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 120px;
    margin-top: 17px
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #46236E; /* One of the colors from your D3 scale */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-left: 240px;
    margin-top: 180px;
}

