@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

html,
body {
  width: 1440px;
  height: 900px;
  overflow-y: hidden;
  overflow-x: hidden;
  
  font-family: 'Familjen Grotesk', sans-serif;

  margin-top: auto;
  margin-left: auto;
  display: flex;
  margin-right: 10px;
  align-items: center; 
  height: 100vh; /* full viewport height */
}

html,
* {
  box-sizing: border-box;
}

.tldraw__editor {
  position: fixed;
  inset: 0px;
  overflow: hidden;
}

#play,
#pause {
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
}

.settings-lbl {
  display: block;
}
