.main-container {
  display: show;
  position: fixed;
  border-radius: 10px;
  background: #edf0f2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-top: 2px;
  text-align: center;
  flex-shrink: 0;
  top: 53px;
  left: 10px;
  padding-right: 10px;
}
.resources-container {
  display: show;
  position: fixed;
  border-radius: 10px;
  background: #edf0f2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  text-align: center;
  flex-shrink: 0;
  top: 498px;
  left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: var(--TOOLBAR-COLOUR, #303344);
  font-family: Familjen Grotesk;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.sub-container {
  width: 330px;
  height: 174px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #cfb7ff;
  padding-right: 10px;
  padding-top: 0px;
  margin-bottom: 15px;
  max-height: 200px;
  overflow-y: auto;
  color: var(--TOOLBAR-COLOUR, #303344);
  font-family: Familjen Grotesk;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 115.385% */
}

.editable {
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  resize: both;
  overflow: auto;
}
.Act-H {
  color: var(--TOOLBAR-COLOUR, #303344);
  font-family: Familjen Grotesk;
  font-style: italic;
  color: var(--TOOLBAR-COLOUR, #303344);
  text-align: center;
  font-size: 14px;
}
.icon-H {
  display: inline;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.TopicName {
  color: #000;
  font-family: Familjen Grotesk;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ActivitiesText {
  color: var(--TOOLBAR-COLOUR, #303344);
  font-family: Familjen Grotesk;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  align-items: center;
  display: flex;
}
.Act-icons {
  padding-right: 15px;
}
