.navigation-bar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 0px;
  background: #edf0f2;
  height: 45px;
  flex-shrink: 0;
  left: 705px;
  top: 5.1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-2 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  background: #edf0f2;
  height: 45px;
  flex-shrink: 0;
  left: 419px;
  top: 5px;
}
.nav-3 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 0px 0px;
  background: #edf0f2;
  height: 45px;
  flex-shrink: 0;
  left: 563px;
  top: 5px;
}
.nav-4 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #edf0f2;
  height: 45px;
  flex-shrink: 0;
  left: 990px;
  top: 5px;
}

.nav-button {
  margin: 0 10px;
  padding: 10px 20px;
  background: #f8f8fb;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  height: 35px;
  width: 125.001px;
}

.nav-button:hover {
  background-color: #cfb7ff;
}

.nav-button.active {
  background-color: #cfb7ff;
  font-weight: bold;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.activity-dropdown {
  position: relative;
  display: inline-block;
}

.activity-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.activity-button.active {
  background-color: #cfb7ff;
}
.nav-button.clicked {
  background-color: #cfb7ff;
  font-weight: bold;
}

.dropdown-content {
  /* margin-top: 3px; */
  display: show;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  background: #edf0f2;
  z-index: 1;
  width: 133px;
  height: 95px;
  flex-shrink: 0;
  left: 3px;
  transition: background-color 0.3s;
}

.dropdown-content.visible {
  display: block;
}

.dropdown-button {
  margin: 7px 7px;
  padding: 10px 10px;
  width: 120px;
  height: 35px;
  background: #f8f8fb;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  transition: background-color 0.3s;
}

.dropdown-button:hover,
.dropdown-button.clicked {
  background-color: #cfb7ff;
  color: white;
}
.Activity-text {
  width: 295px;
  height: 30px;
  padding-left: 10px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #6c00a0;
  background: #fff;
}
